<meta charset="UTF-8">
<title>PlanBranch</title>
<%# <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> %>
<%# default ejs css from express-generator: <link rel='stylesheet' href='/stylesheets/style.css' /> %>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    body    { padding-top:50px; }
</style>
<%# 
(Sevilleja, 2014)


References

Sevilleja, C. (2014, July 31). Use EJS to template your Node application. Retrieved June 24, 2019, from Scotch website: http://scotch.io/tutorials/use-ejs-to-template-your-node-application
%>
