<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body class="container">
  <header>
    <% include ../partials/header %>
  </header>
  <main>
      <div id="formWrapper"></div>
  </main>
  <footer>
    <% include ../partials/footer %>
    <script>
        var formSpecs = JSON.parse('<%- JSON.stringify(formSpecs) %>');
        var tables = JSON.parse('<%- JSON.stringify(tables) %>');
        document.getElementById("formWrapper").innerHTML=generateForm(formSpecs['ActivitiesTypes'], tables); 
    </script>
  </footer>
</body>
</html>
<%# 
(Sevilleja, 2014)


References

Sevilleja, C. (2014, July 31). Use EJS to template your Node application. Retrieved June 24, 2019, from Scotch website: http://scotch.io/tutorials/use-ejs-to-template-your-node-application
%>
